.container {
    padding: 0;

    @media screen and (max-width: 576px) {
        padding: 0;
    }
}

.sectionTitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
    text-align: center;

    @media screen and (max-width: 576px) {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
}

.navigationLinks {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.navigationLink {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.navigationLink:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}