.releaseCard {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.releaseCard:hover {
    transform: scale(0.98);
}

.releaseCard:active {
    transform: scale(0.95);
}

.imageContainer {
    position: relative;
    padding: 2rem;
    aspect-ratio: 1 / 1;

    @media screen and (max-width: 576px) {
        padding: 1rem;
    }
}

.releaseCard {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.coverImage {
    /* width: 100%; */
    /* height: 100%; */
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 2rem 0px;
    gap: 1rem;
    justify-content: space-between;

    @media screen and (max-width: 576px) {
        padding: 0px 1rem 0px;
        gap: 0.5rem;
    }
}

.releaseTitle {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: normal;

    @media screen and (max-width: 576px) {
        font-size: 1.25rem;
    }
}

.releaseYear {
    color: rgba(255, 255, 255, 0.5);
}