.container {
    max-width: var(--container-size);
    padding-inline: var(--mantine-spacing-md);
    margin-inline: auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 4rem 0 4rem;

    @media (max-width: $mantine-breakpoint-sm) {
        padding: 0;
    }
}