.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    min-height: 4rem;
    margin-top: auto;
    overflow: visible;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.5) 30%,
            rgba(0, 0, 0, 0.3) 60%,
            rgba(0, 0, 0, 0) 100%);

    @media (max-width: $mantine-breakpoint-sm) {
        min-height: 3rem;
    }
}

.footer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240%;
    z-index: -1;
    pointer-events: none;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.85) 0%,
            rgba(0, 0, 0, 0.6) 45%,
            rgba(0, 0, 0, 0.35) 75%,
            rgba(0, 0, 0, 0) 100%);
}

@media (max-width: $mantine-breakpoint-sm) {
    .footer::before {
        height: 320%;
        background: linear-gradient(to top,
                rgba(0, 0, 0, 0.9) 0%,
                rgba(0, 0, 0, 0.6) 55%,
                rgba(0, 0, 0, 0.35) 80%,
                rgba(0, 0, 0, 0) 100%);
    }
}

.playButtonWrapper {
    @media (max-width: 576px) {
        display: none;
    }
}



.link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    transition: filter .5s;
    filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0));

    text-transform: uppercase;
    text-decoration: none;

    @media (max-width: $mantine-breakpoint-sm) {
        height: rem(42px);
        width: 100%;
        display: none;
    }

    @mixin hover {
        text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.71);

        filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.71));
    }

}

.menu {
    display: none;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    transition: filter .5s;
    cursor: pointer;
    filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0));

    text-transform: uppercase;
    text-decoration: none;

    @media (max-width: $mantine-breakpoint-sm) {
        display: flex;
    }

    @mixin hover {
        text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.71);

        filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.71));
    }
}

.menuLink {
    background: rgba(255, 255, 255, 1);
    color: black;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    display: flex
;
    border-radius: 50%;
    text-shadow: 0px 0px 0.75rem rgba(0, 0, 0, 8);
    filter: drop-shadow(0px 0px 0.75rem rgba(0, 0, 0, 8));
    flex-direction: column;
    justify-content: center;
    align-items: center;
}