.navigationLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'JostExtraBold', sans-serif;
}

.navigationLink {
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

.navigationLink:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 2.5rem rgba(255, 255, 255, 0.5);
}

.navigationDivider {
    color: rgba(255, 255, 255, 0.5);
    font-size: inherit;
    font-weight: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .navigationLinks {
        gap: 0.5rem;
        flex-wrap: wrap;
        margin-top: 0;
        font-size: 1.5rem;
    }
}

