.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: var(--mantine-spacing-md);
    height: rem(120px);
    width: 100%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.5) 30%,
            rgba(0, 0, 0, 0.3) 60%,
            rgba(0, 0, 0, 0) 100%);

    @media (max-width: $mantine-breakpoint-sm) {
        top: 0;
        height: 2rem;
        width: 100%;
        padding-top: var(--mantine-spacing-xs);

        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.85) 0%,
                rgba(0, 0, 0, 0.4) 50%,
                rgba(0, 0, 0, 0) 100%);
    }
}

.title {
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;

    /* @media screen and (max-width: 768px) {
        padding: 0;
    } */
}

@media (max-width: $mantine-breakpoint-sm) {
    .header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 250%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%);
        z-index: -1;
    }
}