.mainLayout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 7.5rem 0;

    @media screen and (max-width: 576px) {
        padding: 4rem 0 4rem 0;
    }
}