.modalContent {
    background-color: transparent;
    border: none;
    box-shadow: none;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalInner {
    padding-bottom: 0;
}

.modalBody {
    padding: 0;
    height: 100%;
}

.modalOverlay {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.8);
}

.menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


.link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.link:focus {
    outline: none;
}

.link:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.activeLink {
    color: #ffffff;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
    font-weight: 900;
    text-decoration: underline;
}

.closeButton {
    margin-top: auto;
}