html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: white;
  background: rgba(0, 0, 0, 1);
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

img {
  max-width: 100%;
  display: block;
}

/* animations */


.fade-in,
.fade-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  transform-origin: top;
  z-index: 9998;
  pointer-events: none;
}

.play-button-parent {
  position: relative;
  padding: 0px 18px;
}

.play-button-plus {
  cursor: pointer;
  width: 36px;
  height: 36px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.play-button-text {
  position: absolute;
  transform: rotate(180deg);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--mantine-font-size-xl);
  transition: filter .5s;
  filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0));
  text-transform: uppercase;
  cursor: pointer;
  bottom: 4rem;
  right: 12px;

}

.play-button-text:hover {
  filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 1));
}

.parallax-effect {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  will-change: transform;
  transform-origin: center center;
  pointer-events: none;
}

.parallax-effect-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  will-change: transform;
  transform-origin: center center;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.main-bg {
  background: rgba(0, 0, 0, 1);
  background: url("/assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  transform: translateZ(50px);
  height: 115vh;
  width: 115%;
  will-change: transform;
  transition: transform 0.3s ease-out;
  margin: -7.5vh -7.5%;
}

.main-logo {
  background: rgba(0, 0, 0, 0);
  background: url("/assets/images/logo.png");
  background-size: cover;
  background-position: center;
  transform: translateZ(50px);
  width: 15rem;
  height: 5rem;
  will-change: transform;
  transition: transform 0.3s ease-out;
  margin: -7.5vh -7.5%;
}

/* fonts */

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Italic';
  src: url('/fonts/Raleway-Italic.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  font-variation-settings: 'ital' 1;
}