.header {
    padding-top: var(--mantine-spacing-md);
    height: rem(120px);
    width: 100%;
    @media (max-width: $mantine-breakpoint-sm) {
        height: rem(42px);
        width: 100%;
    }

}

.title {
    text-align: center;
    font-size: 2rem;
}